.landingPage{
    background: url('images/landingBg.jpg');
    min-height: 90vh;
}
.landingPage .row {
    min-height: 80vh;
}
.landingSideLeft h6{
color: #0088cc;
letter-spacing: 2.5px;
font-weight: bolder;
word-spacing: 5px;
font-size: 16px;
}
.paragraph{
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 600;
}
.headingCommon{
    font-size: 44px;
    text-align: center;
    font-weight: 700;
    
}
.subHeadingCommon{
    font-size: 18px;
    color: #0088cc;
text-transform: uppercase;
    text-align: center;
letter-spacing: 2px;
    font-weight: 600;
}

.landingSideLeft h1{
    color: white;
}

.landingHeading{
    font-weight: 700 !important;
}
.landingPage p{
    font-size: 20px;
    line-height: 34px;
    font-weight: 600 !important;
}

.landingCount{
    display: flex;
    max-width: 450px;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}
.carauselDiv{
    background-color: rgb(29, 31, 33);
    padding: 10px 18px;
    border-radius: 4px;
    display: flex;
    max-width: 420px;
    height: 55px;
align-items: center;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    bottom: -20px;
    z-index: 10;
color: white;
    left: -12px;
}

.stickyDown {
    height: 135px;
    background: linear-gradient(150deg, #0088cc 0%, #0088cc 30%, #0169fe 70%, #0169fe 100%);
    max-width: 650px ;
    width: 100%;
    min-height: 180px;
    position: absolute;
    top: -65px;
border-radius: 0px  5px 5px 0px;
}
.stickyDown p{
    font-size: 18px;
    margin-top: 10px;
}
.star-rating-wrap{
    font-size: 22px;
}
.stickyLeft{
    position: fixed;
top: 240px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
z-index: 10;
}

.stickyLeft .ripple-surface{
    height: 45px;
    padding: 0px 10px 0px 10px !important;
    border-radius: 0px 4px 4px 0px !important;
    margin-top: 2px !important;
    background-color: #151719 !important;
    color: white !important;
    font-size: 22px !important;
    
}

.section1 .col-9 p{
font-size: 18px;
}
.tabs{
    font-size: 16px !important;
    font-weight: 800 !important;
    color: #151719 !important;
}


@media only screen and (max-width: 600px) {
    .searchtabForm{
        display: none ;
    }
  }
  .filterSetion .nav-tabs .nav-link.active,.filterSetion .nav-tabs .nav-item.show .nav-link{

      border-bottom-width: 4px;
  }
  .projectCard {
    transition: box-shadow 0.4s ease;
}

.projectCard:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.sectionCustom {
    background-color: #f4f4f4;
}
.sectionProject .card{
background-color: rgb(0 0 0 / 0%);
}
.sectionProject{
    background-color: #0169fe ;
    min-height: 100vh;
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
}
.text-reasons {
    display: flex;
    height: 150px;
    align-items: center;
    width: 500px;
    text-align: center;
    justify-content: space-evenly;
}
.text-reasons label{
    font-size: 130px;
    font-weight: 700;
}
.text-reasons-headings{
color: white;

    font-size: 32px;
}
.text-reasons-headings h3{
    font-weight: 700;
}

.introduction .img-fluid{
    box-shadow: 15px -10px 2px 3px rgba(0,0,0,0.61);
-webkit-box-shadow: 15px -10px 2px 3px rgba(0,0,0,0.61);
-moz-box-shadow: 15px -10px 2px 3px rgba(0,0,0,0.61);
}
.introBtn {
    display: flex;
    margin: 25px auto;
    padding: 6px 24px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    background: linear-gradient(135deg, #0088cc 0%, #0169fe 80%);
    transition: background 0.6s ease;
}
.introBtn:hover {
    background: linear-gradient(135deg, #0169fe 0%, #0088cc 80%);
}

.speciality{
   background-color:  #212529;
   min-height: 100vh;
   clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
}
.speciality h1{
    font-size: 40px;

}
.speciality p{
font-size: 18px;
word-spacing: 3px;
font-weight: 600;
}


.reviewContainer {
    background-color: #f4f4f4;
}


.btnBuyNow {
    background-color: #212529;
    width: 140px !important;
    height: 40px;
    color: white;
    display: block;
    margin: auto;
    border-radius: 30px;
}
.btnBuyNow:hover {
    background-color: #32383e;
}
.premiumContainer{
    clip-path: polygon(0 0, 100% 3%, 100% 100%, 0% 100%);
    background-color: #212529;
    min-height: 100vh;
}

.premiumContainer2{
    background-color: #151719;
    max-width: 1200px;
    width: 100%;
    margin: auto !important;
}